body {
    margin: 0;
}

/* BEGIN OVERLAY */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    /* text-align: center; */
    margin-top: 30px;
}

.overlay .close_button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .close_button:hover, .overlay .close_button:focus {
    color: #f1f1f1;
}

.overlay .close_button {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* END OVERLAY */

/* CART BOARD */

.cart_board h1 {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  font-weight: bold;
  opacity: 0.6;
}

.cart_board .cart_list {
  opacity: 0.6;
}

.cart_board .title {
  text-align: center;
}

.cart_board .details {
  display: inline-block;
  width: 60%; 
}

.cart_board .quantity {
  width: 120px;
  float: right;
  opacity: 0.8;
  /* margin: 40px auto; */
}

.cart_board .total {
  background-color: white;
  border-radius: 4px;
  opacity: 0.6;
  text-align: center;
}

.cart_board .total .price {
}
