@-ms-keyframes wiggle {
  0%{-ms-transform:rotate(4deg);}
  50%{-ms-transform:rotate(-4deg);}
  100%{-ms-transform:rotate(0deg);}
}

@-moz-keyframes wiggle {
  0%{-moz-transform:rotate(4deg);}
  50%{-moz-transform:rotate(-4deg);}
  100%{-moz-transform:rotate(0deg);}
}

@-webkit-keyframes wiggle {
  0%{-webkit-transform:rotate(4deg);}
  50%{-webkit-transform:rotate(-4deg);}
  100%{-webkit-transform:rotate(0deg);}
}

@keyframes wiggle { 
  0% { transform:rotate(4deg); }
  50% { transform:rotate(-4deg); } 
  100% { transform:rotate(0deg); }
}

.pg-loading-logo {
  -ms-animation:wiggle .7s 2;
  -moz-animation:wiggle .7s 2;
  -webkit-animation:wiggle .7s 2;
  animation:wiggle .7s 2;
}
